<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<nav th:replace="layout::nav"></nav>
<div class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${q.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${q.content}"></div>

                <!--수정일자-->
                <div class="d-flex justify-content-end">
                    <div th:if="${q.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(q.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>

                    <!--등록일자-->
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${q.author != null}" th:text="${q.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(q.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
            <!--추천 버튼-->
            <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
               th:data-uri="@{|/question/vote/${q.id}|}">
                추천
                <span class="badge rounded-pill bg-success" th:text="${#lists.size(q.voter)}"></span>
            </a>

            <!--수정 삭제 버튼-->

                <a th:href="@{|/question/modify/${q.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${q.author != null and #authentication.getPrincipal().getUsername() == q.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${q.id}|}"
                   class="delete btn btn-sm btn-outline-danger" sec:authorize="isAuthenticated()"
                   th:if="${q.author != null and #authentication.getPrincipal().getUsername() == q.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(q.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${q.answerList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
            <!--수정 일자-->
            <div class="d-flex justify-content-end">
                <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>

                <!--등록 일자-->
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <!--답변추천버튼-->
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/answer/vote/${answer.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                </a>

            <!--수정 삭제 버튼-->
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
               class="delete btn btn-sm btn-outline-danger" sec:authorize="isAuthenticated()"
               th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
               th:text="삭제"></a>
            </div>


        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${q.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="layout::formErrors"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10" class="form-control"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
</div>
<!-- 자바스크립트 -->
<script>
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    const delete_elements = document.getElementsByClassName('delete');
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm('정말로 삭제하시겠습니까?')) {
                location.href = this.dataset.uri;
            }
        });
    });
</script>


</body>
</html>